<div class="container">

  <div *ngIf="product" class="col-md-9">

    <div class="row">
      <div>
        <a class="btn btn-danger" role="button" (click)="goBack()"><span class="glyphicon glyphicon-chevron-left"></span>  Go Back</a>
      </div>
    </div>

    <hr>

    <div class="thumbnail">
      <img class="img-responsive" src="{{ product.urlImage }}" alt="">
      <div class="caption-full">
        <h4 class="pull-right">${{ product.price.toFixed(2) }}</h4>
        <h4>{{ product.name }}</h4>
        <p>${{ product.desc }}</p>
      </div>
      <a class="pull-right btn btn-success" role="button" (click)="addProductToShoppingCart(product)"><span class="glyphicon glyphicon-shopping-cart"></span>  Add to Cart</a>
    </div>


  </div>

</div>
<app-footer></app-footer>
