.product-list {

}

.product-name {
  white-space: pre-wrap;
  margin: 0;
}

.price {
  color: #f00;
}

.product-img {
  margin: 10px auto;
  height: 250px;
  width: 250px;
}

.caption-bottom {
  height: 50px;
  padding: 9px;
}
